@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Dosis&family=Exo:ital,wght@1,500&family=Kalnia:wght@300;400&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,300&family=Salsa&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat:wght@500&family=Varela+Round&display=swap');

body {

    width:100%;
    margin:auto;
    padding:auto;}

/*barre de navigation */

    .livraison {
        height:25px;
        width:100vw;
        background-color:yellowgreen;
        color:black;
        text-align:center;
        padding-top:0px;
        font-size: 13px;
        
       
    }
    #chariot {
        height:30px;
        width: 30px;
      }
      
      
.navbar{
    display:flex;
    flex-direction:row;
    gap:50px;
    justify-content:space-around;
    align-items: center;
    background-color:rgba(62, 60, 60);
   
    width:100vw;
    color:white;
    margin-top:0px;

}
.menuL{
    display:flex;
  align-items:center;
  gap:30px;
        
}

.inpt input {
    width:350px;
    border-radius:20px;
 }
 
.menuR{
    display:flex;
    flex-direction:row;
    gap:15px;
    
}

.log img{
    height:80px;
    width:150px;

/**fin barre de navigation**/

}
.espace {

    height:150px;
    width:99vw;

}


#recherche {
  font-size: 40px;
  padding-left:50px;
  font-family:dosis;
  
}
.con {
  margin-top:400px;
  margin:auto;
  padding:auto;
  width:80%;
  height:50vh;
  display:grid;
  
grid-template-columns:(3,1fr);
grid-template-rows:(3,1fr);
grid-template-areas: 
"itm1 itm1 itm2 "
"itm1 itm1 itm2"
"itm1 itm1 itm2";


}

.itm1 {
  grid-area:itm1;
  background-color: rgb(172, 21, 104);
  background: url(diapo1.webp);
  background-repeat:no-repeat;
  background-size: cover;
  ;
 

  
}
.itm2 {
  grid-area:itm2;
background-color:beige;
}

img{
  height:400px;
  width:50%;
}
.itm2 p{
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
  text-align:center;
  font-family:dosis;
}
#v{
  text-align: center;
  font-size: 18px;
  font-family: dosis;
}



#v{
  text-align: center;
  font-size: 18px;
}

.grid2{
  padding-top:300px;
  margin:auto;
  padding:auto;
  width:80%;
  height:100vh;
  display:grid;
  border-radius:10px;

grid-template-columns:(3,1fr);
grid-template-rows:(3,1fr);
grid-template-areas: 
"g1 g2 g2"
"g1 g2 g2"
"g1 g2 g2";


}

.g1 {
grid-area:g1;
background-color: rgb(218, 209, 178);


}
.g2 {
  grid-area:g2;
  background-color: blue;
  background:url(cc.webp);
  background-repeat:no-repeat;
  background-size: cover;
  
}
.g1 p{
  font-size:40px;
  text-align: center;
  padding-top: 100px;
  text-align:center;
  font-family:dosis;
}